

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Men at Work</h1>

</div>
<div>
    <iframe width="500" height="350" src="https://www.youtube.com/embed/XfR9iY5y94s" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>

</div>
<!--ANIMATION-->
<div>
    <p><button onclick="myMove()">Click Me</button></p>
    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>
</div>





